@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

:root {
  --base-red-color: #ff5959;
  --base-yellow-color: #ffab56;
  --cursive-font: "Luxurious Roman", cursive;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 95%;
  width: 1140px;
  margin: auto;
}

h1.hero-heading {
  font-size: 62px;
  font-family: var(--cursive-font);
}

h1.hero-heading:nth-child(2) {
  margin-top: -1px;
  color: var(--base-yellow-color);
}

a.hero-btn {
  background: var(--base-red-color);
  color: white;
  text-decoration: none;
  padding: 10px 23px;
  border-radius: 6px;
  margin-top: 15px;
  display: inline-block;
}

.hero-content__section {
  margin-top: 128px;
}

.hero-headings {
  border-left: 3px solid var(--base-red-color);
  padding-left: 12px;
}

p.hero-con {
  padding-top: 23px;
}

.hero .row {
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero-image img {
  max-width: 78%;
  display: block;
  margin-left: auto;
}
