@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

:root {
  --base-red-color: #ff5959;
  --base-yellow-color: #ffab56;
  --base-blue-color: #090632;
  --cursive-font: "Luxurious Roman", cursive;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 95%;
  width: 1140px;
  margin: auto;
}

.short_container {
  width: 1086px;
  margin: auto;
  max-width: 95%;
}

h1.hero-heading {
  font-size: 62px;
  font-family: var(--cursive-font);
}

h1.hero-heading:nth-child(2) {
  margin-top: -1px;
  color: var(--base-yellow-color);
}

a.hero-btn {
  background: var(--base-red-color);
  color: white;
  text-decoration: none;
  padding: 10px 23px;
  border-radius: 6px;
  margin-top: 15px;
  display: inline-block;
}

.hero-content__section {
  margin-top: 104px;
}

.hero-headings {
  border-left: 3px solid var(--base-red-color);
  padding-left: 12px;
}

p.hero-con {
  padding-top: 23px;
}

.hero .row {
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero-image img {
  max-width: 78%;
  display: block;
  margin-left: auto;
  margin-top: -47px;
}

.section_heading {
  color: var(--base-blue-color);
  text-align: center;
  font-size: 37px;
  font-weight: bold;
}

.section_heading .high {
  color: var(--base-yellow-color);
}

img.mission-image {
  width: 45%;
  padding-left: 10px;
}

.mission_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 24px;
  margin-top: 52px;
}

.mission:nth-child(2) {
  background: #ffeeee;
}
.mission {
  border-radius: 15px;
}
.mission:nth-child(1) {
  background: #edf5f6;
}
.mission:nth-child(3) {
  background: #fff4d6;
}

.mission-content {
  padding: 11px 27px;
}

.mission-content {
  padding: 1px 37px;
}
h3.mission-heading {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}
p.mission-con {
  color: #302f2f;
  font-size: 15px;
  padding-bottom: 15px;
  word-break: break-all;
}
