@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
:root {
  --base-red-color: #ff5959;
  --base-yellow-color: #ffab56;
  --base-blue-color: #090632;
  --cursive-font: "Luxurious Roman", cursive;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 95%;
  width: 1140px;
  margin: auto;
}

.short_container {
  width: 1086px;
  margin: auto;
  max-width: 95%;
}

h1.hero-heading {
  font-size: 62px;
  font-family: var(--cursive-font);
}

h1.hero-heading:nth-child(2) {
  margin-top: -1px;
  color: var(--base-yellow-color);
}

a.hero-btn {
  background: var(--base-red-color);
  color: white;
  text-decoration: none;
  padding: 10px 23px;
  border-radius: 6px;
  margin-top: 15px;
  display: inline-block;
}

.hero-content__section {
  margin-top: 132px;
}

.hero-headings {
  border-left: 3px solid var(--base-red-color);
  padding-left: 12px;
}

p.hero-con {
  padding-top: 23px;
}

.hero .row {
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero-image img {
  max-width: 78%;
  display: block;
  margin-left: auto;
  margin-top: -8px;
}

.section_heading {
  color: var(--base-blue-color);
  text-align: center;
  font-size: 37px;
  font-weight: bold;
}

.section_heading .high {
  color: var(--base-yellow-color);
}

img.mission-image {
  width: 45%;
  padding-left: 10px;
}

.mission_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 24px;
  margin-top: 52px;
}

.mission:nth-child(2) {
  background: #ffeeee;
}
.mission {
  border-radius: 15px;
}
.mission:nth-child(1) {
  background: #edf5f6;
}
.mission:nth-child(3) {
  background: #fff4d6;
}

.mission-content {
  padding: 11px 27px;
}

.mission-content {
  padding: 1px 37px;
}
h3.mission-heading {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}
p.mission-con {
  color: #302f2f;
  font-size: 15px;
  padding-bottom: 27px;
  word-break: break-all;
}
section.dream {
  margin-top: 59px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc_row {
  display: flex;
  justify-content: space-between;
}

.image {
  /* width: 85%; */
  /* height: 100%; */
  padding: 0 97px;
}

.desc_row {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
}
section.description {
  margin-top: 137px;
}
section.description div.first {
  background-image: url("../Images/shape-1.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-y: 4%;
  padding-top: 64px;
  background-position-x: 6%;
}

section.description div.second {
  background-image: url("../Images/shape-1.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: right;
  background-position-y: bottom;
  background-position-y: 79%;
  background-position-x: 92%;
  padding-bottom: 163px;
}

.desc_con {
  padding-top: 82px;
}
.desc_con h1 {
  font-size: 33px;
}
.desc_con h1 {
  font-size: 33px;
}

.desc_con h1:nth-child(2) {
  padding-bottom: 17px;
}

.desc_con p {
  padding-right: 47px;
}
.corona_image {
  width: 119%;
  overflow: hidden;
  position: relative;
}

.corona_image img {
  width: 100%;
  height: 36rem;
  object-fit: cover;
}
section.corona {
  margin-top: 128px;
}

.corona_row {
  margin-top: 93px;
  display: flex;
}
.corona_container {
  width: 1000px;
  margin: auto;
}

.corona__content {
  padding-left: 117px;
  padding-top: 96px;
}
.corona__content h1:nth-child(2) {
  margin-top: -9px;
  padding-bottom: 16px;
}

.corona__content p {
  padding-left: 0px;
  padding-bottom: 8px;
}

footer {
  background: #0b0d17;
  color: white;
  padding: 57px 0;
}

h1.footer_heading {
  text-align: center;
  color: white;
  padding-bottom: 11px;
  font-family: var(--cursive-font);
  font-size: 41px;
}

h1.footer_heading span {
  color: #ff5959;
  font-family: var(--cursive-font);
}

.footer_content {
  text-align: center;
  font-size: 15px;
  color: gray;
}
